{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 10</title>

    <link rel="stylesheet" type="text/css" href="/static_dev/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static_dev/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark-subtle">
    <h6 class="display-6">Project10</h6>
</nav>

<br>
<br>
<br>

<div class="form-check form-check-inline">
    <div class="container text-start">
        <div class="row align-items-start">
            <div class="col">
                <h1 class="display-6">Входные данные</h1>

                {% for k, v in inputs.items %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">{{ v }}</span>
                        <input type="number" class="form-control" id="num{{ k }}" step="any">
                    </div>
                {% endfor %}

                <button id="calculate" onclick="calculate()" class="btn btn-primary">Посчитать</button>
            </div>

            <div class="col">
                <h1 class="display-6">Выходные данные</h1>

                {% for k, v in outputs.items %}
                    <p id="res{{ k }}" class="lead">{{ v }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<script src="/static_dev/js/calculate.js"></script>
</body>
</html>