{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Расчёт БПЛА</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static_dev/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static_dev/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static_dev/img/favicon-16x16.png">
    <link rel="manifest" href="/static_dev/img/site.webmanifest">
    <link rel="mask-icon" href="/static_dev/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="/static_dev/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static_dev/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark-subtle">
    <h6 class="display-6">Расчёт БПЛА</h6>
</nav>

<br>
<br>
<br>

<div class="form-check form-check-inline">
    <div class="container text-start">
        <div class="row align-items-start">
            <div class="col">
                <h1 class="display-6">Входные данные</h1>

                {% for k, v in inputs.items %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">{{ v }}</span>
                        <input type="number" class="form-control" id="num{{ k }}" step="any">
                    </div>
                {% endfor %}

                <button id="calculate" onclick="calculate()" class="btn btn-primary">Посчитать</button>
            </div>

            <div class="col">
                <h1 class="display-6">Выходные данные</h1>
                <h6>Монтажные значения: </h6>
                {% for k, v in mont_znach.items %}
                    <p id="mont_znach{{ k }}" class="lead">{{ v }}</p>
                {% endfor %}

                <h6>Расчётные значения: </h6>
                {% for k, v in rasch_cnach.items %}
                    <p id="rasch_znach{{ k }}" class="lead">{{ v }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<script src="/static_dev/js/calculate.js"></script>
</body>
</html>