{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 10</title>

    <link rel="stylesheet" type="text/css" href="/static_dev/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static_dev/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark-subtle">
    <h6 class="display-6">Project10</h6>
</nav>

<br>
<br>
<br>

<div class="form-check form-check-inline">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Размах крыла, мм (l): </span>
        <input type="number" class="form-control" id="num1" step="any">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Удлинение крыла (λ): </span>
        <input type="number" class="form-control" id="num2" step="any">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Крейсеркая скорость полёта, м/с (V): </span>
        <input type="number" class="form-control" id="num3" step="any">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Коэффициент полной аэродинамической силы (Cr): </span>
        <input type="number" class="form-control" id="num4" step="any">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Масса модели, кг (m): </span>
        <input type="number" class="form-control" id="num5" step="any">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Удельная нагрузка на несущую поверхность, Па (p): </span>
        <input type="number" class="form-control" id="num6" step="any">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Сужение крыла (Ƞ): </span>
        <input type="number" class="form-control" id="num7" step="any">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Угол стреловидности, ° (X): </span>
        <input type="number" class="form-control" id="num8" step="any">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Поправка законцовок крыла, (Δλ): </span>
        <input type="number" class="form-control" id="num9" step="any">
    </div>



    {% for k, v in vars.items %}
        <p id="res{{ k }}" class="lead">{{ v }}</p>
    {% endfor %}

    <button id="calculate" onclick="calculate()" class="btn btn-primary">Посчитать</button>
</div>


<script src="/static_dev/js/calculate.js"></script>
</body>
</html>